<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>ch.paso.address.server.auth.AuthenticationFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/ch_paso_address/auth/*</url-pattern>
	</filter-mapping>

	<!-- Servlets -->
	<servlet>
		<servlet-name>authentication</servlet-name>
		<servlet-class>ch.paso.address.server.auth.AuthenticationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PersonService</servlet-name>
		<servlet-class>ch.paso.address.server.services.PersonService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CodeService</servlet-name>
		<servlet-class>ch.paso.address.server.services.CodeService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>personimport</servlet-name>
		<servlet-class>ch.paso.address.server.fileupload.PersonImportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>personimport</servlet-name>
		<url-pattern>/ch_paso_address/auth/personimport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authentication</servlet-name>
		<url-pattern>authentication</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PersonService</servlet-name>
		<url-pattern>/ch_paso_address/auth/PersonService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CodeService</servlet-name>
		<url-pattern>/ch_paso_address/auth/CodeService</url-pattern>
	</servlet-mapping>
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Ch_paso_address.html</welcome-file>
	</welcome-file-list>


</web-app>
